*{
    margin: 10px;
    box-sizing: 10px;
    box-sizing: 6px border-box;
}

body{
    background-color:rgb(207, 31, 31);
    text-align:center;
    line-height:15px;;
}

.hero img{
    border-radius:10%;
}

.accent{
    color:rgb(209, 255, 255);
}
.section{
    font:250px;
}

#weak{
    color:rgb(7, 8, 8);
}

#skills{
   color: rgb(7, 8, 8);
}

#about{
    color: rgb(7, 8, 8);
}  

#EXP{
    color:rgb(7, 8, 8);
}

.section{
    border: 5px double rgb(7, 8, 8);
} 

@media screen (max-width: 768px){
    body {background-color:blue;}
}

.grid{
   display: flex; 
   justify-content:center;
   justify-content:space-around;
   gap: 8px;
   flex-wrap: wrap;
}

.grid div{
    background-color:white;
    border-radius: 100px;
    padding: 25px;
    min-width: 100px;
}

p{
    color:white;
}

#weak div{
    color:white;
}