*{
    margin: 9px;
    box-sizing: 8px;
    box-sizing: 4px border-box;
}

body{
    background-color:rgb(9, 88, 62);
    text-align:center;
    line-height:2;
}

.hero img{
    border-radius:20%;
}

.accent{
    color:azure;
}
.section{
    font:250px;
}

#weak{
    color:rgb(119, 21, 21)
}

#skills{
   color: rgb(219, 186, 37);
}

#about{
    color: rgb(58, 125, 184);
}  

#EXP{
    color: rgb(197, 121, 34);
}

div{
    border: 0px double rgb(58, 105, 58);
}

p{
    border: solid rgb(99, 126, 58);
}
@media screen (maz-width: 768px){
    body{background-color:yellow;}
}

.grid{
   display: flex; 
   justify-content:center;
   justify-content:space-around;
   gap: 15px
   flex-wrap:wrap;
}

.grid div{
    background-color:yellow;
    border-radius: 100px;
    padding: 10px;
    min-width: 100px;
}